# Python
__pycache__/
*.py[cod]
*.$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
env/
venv/
ENV/

# UV Manager
uv.lock

# IDE (VS Code)
.vscode/
*.code-workspace
.history/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs & Data
*.log
*.sqlite
data/raw/*.csv
logs/*.log
